[Unit]
Description=Folio4 delayed container
Requires=docker.service
After=docker.service docker-folio4.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a folio4-delayed-job
ExecStop=/usr/bin/docker stop -t 2 folio4-delayed-job

[Install]
WantedBy=local.target
