<div class="alert alert-block blank-slate">
	<div class="blank-slate-example">
			<%= image_tag "blank_slates/folio_sales_example.png", :title => "Ejemplo de Ventas de Folio", :class => "img-polaroid" %>
	</div>

	<div class="blank-slate-text">
		<h3>Dónde está la platita</h3>
		<p>
			Las <strong>Cuentas</strong> es donde manejas el dinero con que cuenta tu empresa, como por
			ejemplo:
			<ul>
				<li>Cuentas Corrientes, Tarjetas de Créditos,</li>
				<li>Líneas de Crédito o la Famosa Caja Chica</li>
			</ul>
		</p>
		<p>
			Tienes que crear al menos una cuenta si quieres realizar seguimiento de tus gastos.
		</p>
		<h4>¿Qué esperas?</h4>
		<p>
			Agrega ahora <%= link_to "tu primera Cuenta", new_money_account_path() %>
		</p>
	</div>
</div>
