<div id="invoice-total" class="invoice-status-<%= @invoice.status %>">
	<h3><%= number_to_currency(@invoice.total)%></h3>
	<%= render partial: "invoices/shared/invoice_advance_debt", locals: {invoice: @invoice} %>
</div>