<p>Hola <%= @user.name %>,</p>
<p>
	<strong><%= @account_owner.name %></strong> ha creado una cuenta para ti en Folio.cl, donde lo podr치s ayudar con la informaci칩n financiera del negocio.
<br><br>
	Para comenzar s칩lo debes ingresar al siguiente enlace y crear tu contrase침a:
</p>
<p>
<%= link_to edit_password_url(@user, :reset_password_token => @user.reset_password_token, :subdomain => @user.account_subdomain), edit_password_url(@user, :reset_password_token => @user.reset_password_token, :subdomain => @user.account_subdomain)%>
</p>
<p>
<br>
Saludos y Bienvenido!!!
</p>
<br>
PS: Si el enlace no funciona, puedes copiar y pegarlo en tu navegador.
