<div class="comment-email-suscribers">
	<div class="comment-default-suscribers">
		Tu comentario se enviará a: 
		<span class="comment-suscribers-list">
			<%= comment_default_suscribers_list @comment %>
		</span>
		(<%= link_to "modificar", "#" %>)
	</div>
</div>