<table class="table invoices-table table-hover">
	<thead>
		<tr>
			<th>Número</th>
			<th>Detalles</th>
			<th style="text-align: right;">Total</th>
		</tr>
	</thead>
	<tbody>
		<%= render partial: "invoice", collection: invoices %>
	</tbody>
</table>


