<div id="invoice-sidebar" class="span3">
	<div class="invoice-totals">
		<h3><%= number_to_currency(@invoice.total) %></h3>
		<h5>Neto <%= number_to_currency(@invoice.net_total) %></h5>
		<h5 data-bind="if: show_tax">IVA <%= number_to_currency(@invoice.tax_total) %></h5>
	</div>
	
	<div class="invoice-reminders">
		
		<div class="invoice-email-reminder">
			<label class='checkbox'>
			<input type='checkbox' name='invoice_email_reminder'>
			<a href="">Enviar recordatorio</a>
			</label>
			<div class="invoice-option-explain">
				<small>Martes 24 a Nadia Valencia (IT Linux) y Marcelo Carrillo (TVN)</small>
			</div>
		</div>
		
		<div class="invoice-email-recurrent" style="margin-top: 20px">
			<label class='checkbox'>
			<input type='checkbox' name='invoice_email_reminder'>
			<a href="">Factura recurrente</a>
			</label>
			<div class="invoice-option-explain">
				<small>
					El primer Lunes de cada mes.<br/>
					Finaliza el 23/11/2014.
				</small>
			</div>
		</div>
		
	</div>
	
	
	<div class="invoice-attachments">
		<h5>Documentos</h5>
		<div id="invoice-attachment-drop-zone">
			<strong>+</strong> Arrastra tus archivos
		</div>
	</div>
	
	<div class="invoice-catergories">
		<h5>Caterogrías</h5>
		<textarea></textarea>
	</div>
	
	<div class="invoice-submit">
		
		<button class="btn btn-large btn-success">Guardar venta</button>
		
	</div>
	
</div>