<div id="<%= "delete-company-#{@company.id}-modal" %>" class="modal fade confirmation-modal" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <span >¿Seguro que quieres borrar esta empresa?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, cancelar</button>
		<%= link_to 'Sí, borrar empresa',  @company,  method: :delete, class: "btn btn-danger" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->