<div id="invoice-extra-info">
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#invoice-comments" data-toggle="tab">Comentarios</a></li>
	  <li><a href="#invoice-attachments" data-toggle="tab">Adjuntos</a></li>			  
	</ul>
	<div class="tab-content" style="overflow: hidden;">
		<div id="invoice-comments" class="tab-pane active">
			<%= render partial: "comments/comments", locals: {comments: @comments, object: @invoice} %>
		</div>
		<div id="invoice-attachments" class="tab-pane">
			<%= render partial: "attachments/attachments", locals: {object: @invoice} %>
		</div>
	</div>
</div>