<div id="invoice-items-header">
	<span class="pull-right"><a href="">+ Agregar</a></span>
	<h4>Items</h4>
</div>

<div id="invoice-items">
	<table class="table">
		<thead>
			<tr>
				<th>Tipo</th>
				<th>Descripción</th>
				<th>Ctd.</th>
				<th>Precio</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr></tr>
			<%= render :partial => "invoices/shared/invoice_item"%>
		</tbody>
	</table>
</div>