<header>
	<ul class="unstyled inline pull-right">
		<li><span class="invoice-label invoice-draft"><%= @invoice.aasm_human_state.titleize %></span></li>
		<% if input_disabled? %>
			<li><span class="invoice-label invoice-draft"><%= @invoice.currency.upcase %></span></li>
			<li>
				<span class="invoice-label invoice-draft"><%= invoice_tax_label @invoice %></span>
			</li>
		<% end %>
	</ul>
	<% if input_disabled? %>
		<h4>Venta # <%= @invoice.number %></h4>
	<% else %>
		<h4>Nueva Venta </h4>
	<% end %>
</header>