<tr>
	<td>
		<select><option>Servicio</option><option>Producto</option></select>
		<br/>
		<span class="invoice-item-delete">
			<a href="">borrar</a>
		</span>
	</td>
	<td><textarea rows="3"></textarea></td>
	<td style="text-align: center"><input type="text" style="width: 40%"></input></td>
	<td><input type="text" style="width: 80%"></input></td>
	<td><input type="text" style="width: 80%"></input></td>
</tr>