<header>
	<ul class="unstyled inline pull-right">
		<li>
			<span class="invoice-label invoice-<%= @invoice.status %>">
				<%= (I18n.t "invoice.#{@invoice.status}").humanize %>
			</span>
		</li>
		<li>
			<span class="invoice-label invoice-currency" data-bind="text: invoice_tax_label"><%= invoice_tax_label @invoice %></span>
		</li>
	</ul>
	<% if input_disabled? %>
		<h4>
			Venta # <%= @invoice.number %>
		</h4>
	<% else %>
		<h4>Nueva Venta </h4>
	<% end %>
</header>