<div id="invoice-total">
	<div class="invoice-total-number">
		<ul class="unstyled inline">
			<li style="text-align: left"><span data-bind="text: invoice_currency_label"><%= @invoice.currency.upcase%></span></li>
			<li style="width: 150px;" data-bind="text: original_currency_total().formatMoney(0)"><%= round_number_and_delimiter(@invoice.original_currency_total)%></li>
		</ul>
		<% if input_disabled? %>
			
		<% end %>
	</div>
</div>