<div id="invoice-extra-info">
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#comments" data-toggle="tab">Comentarios</a></li>
	  <li><a href="#attachments" data-toggle="tab">Adjuntos</a></li>			  
	</ul>
	<div class="tab-content">
		<div id="comments" class="tab-pane active">
			Comentarios
		</div>
		<div id="attachments" class="tab-pane">
			Adjuntos
		</div>
	</div>
</div>