<header>
	<ul class="invoice-header-labels">
		<li>
			<span class="invoice-header-label invoice-label invoice-currency" data-bind="text: invoice_tax_label">
				<%= invoice_tax_label @invoice %>
			</span>
		</li>
		<li>
			<span class="invoice-header-label invoice-label invoice-<%= @invoice.status %>">
				<%= display_invoice_status(@invoice) %>
			</span>
		</li>
	</ul>
	<% if input_disabled? %>
		<h4>
			Venta <%= index_invoice_number_display(@invoice) %>
		</h4>
	<% else %>
		<h4>Nueva Venta </h4>
	<% end %>
</header>