<div class="row">
	<div class="span12">
		<ul class="nav nav-pills">
		  <%= menu_link "Todas", invoices_path %>
		  <%= menu_link "Activas", active_invoices_path %>
		  <%= menu_link "Borrador", draft_invoices_path %>
          <%= menu_link "Vencidas", due_invoices_path %>
		</ul>
		<div class="pull-right"><a href="" class="no-hover"><btn class="btn btn-success"><i class="icon-plus icon-white"> </i> Nueva Factura</btn></a></div>
	</div>
</div>