<%= render partial: "attachments/attachment_form", locals: {object: object} %>

<div id="attachments">
	<table class="table-attachments" style="<%= "display: none;" unless object.all_attachments.any?%>">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Fecha</th>
				<th>Autor</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% object.all_attachments.each do |attachment| %>
				<%= render partial: "attachments/attachment", locals: {attachment: attachment}  %>
			<% end %>
		</tbody>
	</table>
</div>
