<% if @company.nil? %>

	<div class="alert alert-error">
		Primero debe seleccionar una empresa
	</div>

<% else %>
	<p>
		Ingresa los datos para agregar un nuevo contacto a <%= @company.name %>
	</p>

	<%= render partial: "contacts/modal_form", locals: {contact: @contact} %>


<% end %>

