$("#invoice-contact-modal .modal-footer button").hide();
$("#invoice-contact-modal .modal-body").html("<div style='text-align: center'><h3 class='alert alert-success'>Contacto guardado correctamente</h3></div>");
setTimeout(function(){$("#invoice-contact-modal").modal("hide")},2000)

var invoice_company_id = $("#invoice_company_id").val()
$("#invoice_company_id").val("null")
$("#invoice_company_id").trigger("change")
$("#invoice_company_id").val(invoice_company_id)
$("#invoice_company_id").trigger("change")