<div class="alert alert-block blank-slate">
	<h3>Las Empresas pueden ser clientes y proveedores</h3>
	<p>
		En esta sección tendrás acceso a tu lista de contacto de las empresas con las que realizas negocios. Rápidamente podrás tener información de los <strong>negocios pendientes</strong> y también podrás acceder a <strong>información detallada de la relación
</strong> con cada una de ellas.
	</p>
	<h4>Ya es tiempo de que muevas tu negocio</h4>
	<p>
		Comienza <%= link_to "agregando las empresas", new_company_path() %> con las que haces negocios, Folio identificará automáticamente si son proveedores, clientes o ambos.
	</p>
</div>