<% content_for :sub_navbar do %>
	<div class="action-links pull-right">
		<ul class="inline">
				<li>
					<%= link_to "#{fa_icon "plus"} Nueva Venta".html_safe, new_invoice_path(:company_id => @company.id) %>
				</li>
				<!-- <li>
					<%= link_to " Nueva Compra", edit_company_path(@company) %>
				</li> -->
				<li>
					<%= link_to "#{fa_icon "edit"} Editar empresa".html_safe, edit_company_path(@company) %>
				</li>
			</ul>
	</div>
	<h3><%= @company.name %></h3>
<% end %>
