<% content_for :sub_navbar do %>
	
	<%= render :partial => "companies_search" %>
		
<% end %>

<div class="row document">
	<section>
		<%= render :partial => "companies_empty" unless current_account.companies.any? %>
			<ul class="companies inline" id="companies_boxes">
				<%= render :partial => "company", :collection => @companies %>
			</ul>
	</section>
</div>