<div class="document">

	<section>
		<header class="section-header user-header">
				<%= link_to "Editar información", edit_company_path(@company), :class => "btn btn-small pull-right" %>
			<h2>
				<%= @company.name %>
			</h2>
		</header>

	</section>


<%= @company.name %>
<%= %>
</div>