<%= render partial: "companies/show_partials/delete_modal" if @company.empty? %>
<%= render "show" %>

<%= render partial: "companies/shared/navbar" %>

<div class="row document">
	<%= render :partial => 'company_info' %>
</div>