@import "bootstrap";
//@import "bootstrap-responsive";
@import "devise";
@import "bootstrap-overrides";
@import "font-awesome";
@import "document";
@import "accounts";
@import "users";
@import "companies";
@import "invoices";

.main {
	padding-left: 0px;
	
	.nav-pills > li > a.no-hover:hover {
		background: none;
	}
	
	.page_header {
		border-bottom: 1px solid #eee;
		margin-bottom: 20px;
		
		.nav {
			margin-bottom: 0px;
		}
		
		.no-hover {
			margin-top: -10px;
		}	
	}
}

.blank-slate {
	color: rgb(62,77,108);
	padding: 40px;
	padding-bottom: 60px;
	min-height: 300px;
	font-size: 18px;
	
	h3, h4, h5 {
		margin: 0px;
		color: rgb(62,77,108);
	}
	h4 {
		margin-top: 30px;
		margin-bottom: 5px;
		font-size: 20px;
		color: rgb(119,187,65);
	}
	
	h5 {
		margin-top: 30px;
		font-size: 15px;
	}
	
}

.cancel-link {
	color: red;
	text-decoration: underline;
}

.sub-navbar {
	width: 998px;
	min-height: 0px;
	//background: #ededed;
	background: white;
	margin-top: -22px;
	border-right: 1px solid #C9C4C4;
	border-left: 1px solid #C9C4C4;
	border-bottom: 1px solid #C9C4C4;
	margin-bottom: 0px;
	
	.nav-tabs {
		border-bottom: none;
	}
	
	.navbar {
		padding-top: 5px;
		padding-right: 25px;
		padding-left: 25px;
		margin-bottom: 0px;
		padding-bottom: 5px;
				
		.action-links {
			margin-left: 20px;
			margin-right: 15px;
			top: 25px;
			position: relative;
			
			.btn {
				margin-top: -5px;
			}

			
		}
		
		form {
			margin: 0px;
		}
		
		.search {
			padding: 8px;
			width: 28.5em;
			margin-top: 15px;
		}
		
	}
	
	.sub-navbar-menu-tab {
		margin-top: 15px;
		border-top: 1px solid #C9C4C4;
		padding-top: 15px;
		padding-bottom: 0px;
		
		 li {
			margin-bottom: -2px;
		}
		
	}
	
}

.link-success {
	color: #58b058;
}

a:hover.link-success {
	color: #3B753B;	
};

.link-edit {
	color: rgb(83,88,95);
}

.link-expense, a:hover.link-expense {
	color: rgb(189,91,12);
}

a:hover.link-expense {
	color: #9B4A0A;
}

.strong {
	font-weight: bold;
}