@import "bootstrap";
//@import "bootstrap-responsive";
@import "devise";
@import "bootstrap-overrides";
@import "font-awesome";
@import "document";
@import "accounts";
@import "users";
@import "companies";



.main {
	padding-left: 20px;
	
	.nav-pills > li > a.no-hover:hover {
		background: none;
	}
	
	.nav-pills {
		border-bottom: 1px solid #eee;
		
		.no-hover {
			margin-top: -10px;
		}	
	}
}

.blank-slate {
	color: rgb(62,77,108);
	padding: 40px;
	padding-bottom: 60px;
	min-height: 300px;
	font-size: 18px;
	
	h3, h4, h5 {
		margin: 0px;
		color: rgb(62,77,108);
	}
	h4 {
		margin-top: 30px;
		margin-bottom: 5px;
		font-size: 20px;
		color: rgb(119,187,65);
	}
	
	h5 {
		margin-top: 30px;
		font-size: 15px;
	}
	
}

.cancel-link {
	color: red;
	text-decoration: underline;
}