// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-form {
	border-top: 2px solid #f3f3f3;
	padding-top: 20px;
}

.comment {
	
	.comment-ul {
		margin-bottom: 5px;
	}
	
	.avatar {
		padding: 0px;
		width: 48px;
		height: 48px;
		border: 1px solid #bbb;
		border-radius: 4px;
		
		img {
			width: 48px;
			height: 48px;
		}
		
	}
	
	.comment-bridge {
		border-left: 1px solid #ddd;
		height: 15px;
		margin-left: 20px;
	}
	
}

.comment-body {
	border: 1px solid #ddd;
	border-radius: 3px;
	width: 626px;
	position: relative;
	
	.comment-error-block {
		@extend .alert;
		@extend .alert-error;
		margin-bottom: 5px;
		border-radius: 0px;
		display: none;
	}
	
	&:before {
		position: absolute;
		top: 11px;
		left: -16px;
		right: 100%;
		width: 0;
		height: 0;
		display: block;
		content: " ";
		border-color: transparent;
		border-style: solid solid outset;
		pointer-events: none;
		border-right-color: #dddddd;
		border-width: 8px;
		transition: border-right-color 0.65s ease-out;
		-webkit-transition: border-right-color 0.65s ease-out 0;
	}
	
	&:after {
		border-width: 7px;
		border-right-color: #f7f7f7;
		margin-top: 1px;
		margin-left: 2px;
		transition: border-right-color 0.65s ease-out;
		-webkit-transition: border-right-color 0.65s ease-out 0;
	}
	
	.comment-body-header {
		background: #f7f7f7;
		padding: 6px 10px 0;
		border-radius: 3px 3px 0 0;
		border-bottom: 1px solid #eee;
		
		.comment-body-header-options {
			float: right;
			padding-right: 15px;
			padding-top: 5px;
			padding-bottom: 5px;
			
			label {
				font-size: 13px;
			}
			
			.fa-lock {
				color: rgb(214, 49, 49);
			}
			
		}
		
		.comment-body-header-text {
			max-width: 78%;
			padding-top: 5px;
			padding-bottom: 5px;
			font-size: 13px;
			
			.author {
				font-weight: bold;
				color: #555;
			}
			
			.date {
				color: rgb(119,119,119);
			}
			
		}
		
	}
	
	.comment-body-content{
		padding: 15px;
		font-size: 14px;
		
		
		textarea#comment_message {
			border: 1px solid rgb(204, 204, 204);
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			outline: none;
			box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 2px inset;
			width: 580px;
			resize: vertical;
			margin-top: 0px;
			margin-bottom: 10px;
			height: 108px;
			background: rgb(250, 250, 250);
		}
		
	}
	
	.comment-body-footer {
		
		.comment-attachments {
			background: #f7f7f7;
			padding: 6px 10px 6px;
			border-radius: 3px 3px 0 0;
			border-top: 1px solid #eee;
			
			a {font-size: 13px;}
			
		}
		
		.form-actions {
			background-color: white;
			border-top: none;
			padding-top: 5px;
			margin-top: 5px;
			margin-bottom: 10px;
			padding-bottom: 10px;
		}
		
		.comment-email-subscribers {
			color: #000;
			margin-left: 20px;
			font-size: 13px;
			margin-top: -15px;
		}
		
		ul.comment-selectable-subscribers-list {
			@extend .unstyled;
			@extend .inline;
			margin-left: -5px;
			margin-top: 5px;
			
			li {
				color: #000;
				margin: 0 0 5px 0px;
				width: 150px;
				margin-bottom: 0px;
				
				label {
					font-size: 13px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					margin-bottom: 0px;
				}
			}
			
		}
		
		.comment-select-subscribers {
			p.coment-select-subscribers-title {
				font-weight: bold;
				margin-bottom: 5px;
			}
			
			.comment-global-subscribers {
				color: grey;
				
				.label-select-organization {
					@extend .label;
					margin-left: 5px;
					border: #999 solid 1px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 200px;
				}
				
				.disable {
					background: white;
					color: black;
					a {
						color: black;
					}
				}
				
				.enable {
					background: black;
					color: white;
					
					a {
						color: white;
						font-size: 12px;
					}
					
				}
				
				a {
					color: grey;
					font-size: 12px;
					text-shadow: none;
				}
			}
			
		}
		
	}
	

	
}