// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#new_company, form.edit_company {
	table.upload-picture {
		margin-bottom: 20px;
		
		 input {
			font-size: 12px;
			line-height: 0px;
		}
		
	
		
	}
}

.label-customer {
	@extend .label-success;
	margin-top: 15px;
}

.label-provider {
	@extend .label-default;
}

.company {
	vertical-align: top;
}

.letters {
	
	.letter {
		margin-left: -25px;
		font-size: 24px;
		font-weight: bold;
		list-style: none;
		margin-top: 20px;
		font-family: 'Lato';
		color: #333;
	}
	
	.companies {
		margin-top: -30px;
		margin-left: 29px;
	}
	
}

.company-box {
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-left: 5px;
	margin-right: 12px;
	margin-bottom: 19px;
	width: 270px;
	min-height: 140px;
	position: relative;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
	
	.footer {
		position: absolute;
	    bottom: 0;
	    left: 20;
		padding-bottom: 10px;
	}
	
	small {
		font-size: 14px;
		font-family: helvetica neue;
		font-weight: lighter;
		color: #747171;
	}
	
	.company-type {
		margin-top: -20px;
		margin-bottom: 60px;
	}
	
	.company-contact-info {
		margin-left: 0px;
		color: #747171;
		list-style: none;
		margin-bottom: 20px;
	}
	
	.company-box-kpi {
		width: 100%;
		position: absolute;
		bottom: 0;
		margin-bottom: 20px;
		
		font-size: 11.844px;
		font-weight: bold;
		line-height: 20px;
		
		.kpi-invoices-due {
			@extend .label;
			@extend .label-important;
		}
		
		.kpi-sales-total {

		}
		
	}
}

input[type="text"].company-search {
	width: 400px;
	padding: 10px;
	font-family: 'Lato';
	font-size: 18px;
}

.totals-kpi-box {
	padding-left: 10px;
	padding-right: 10px;

	margin-bottom: 20px;
	border: 1px solid #ccc;
	background: #0265b0;;
	
	.totals-kpi-box-header {
		margin-left: -10px;
		margin-top: 0px;
		margin-right: -10px;
		color: white;
		padding-left: 10px;
	}
	
	.totals-kpi-box-body {
		background: white;
		padding: 10px;
		margin-left: -10px;
		margin-top: 0px;
		margin-right: -10px;
		padding-bottom: 20px;
		padding-top: 20px;
	}
	
	th {
		background: #0265b0;
		padding-left: 15px;
		color: white;
		text-align: left;
	}
	
	td {
		padding: 20px 0px 20px 0;
	}
	
	.total-kpi {
		width: 30%;
		background: white;
		border: 1px solid #ccc;
		float: left;
		padding: 10px;
		padding-right: 5px;;
		padding-top: 5px;
		
		.total-kpi-title {
			font-size: 12px;
		}
		
		.total-kpi-value {
			margin-top: 5px;
			font-size: 18px;
		}
		
	}
	
}

#company-contacts {
	border-bottom: 1px solid #ddd;
	padding: 15px;
	padding-bottom: 0px;
	margin-bottom: 20px;
	
	form {
		margin-bottom: 0px;
	}
	
	.search {
		padding: 8px;
		width: 28.5em;
	}
}