body#login {
	background: #3498DB;
	color: white;

	#login-box {
		width: 358px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px;
		background-color: #eff0f2;
		border-radius: 6px;
		position: relative;
		padding: 30px;
		text-align: center;
		color: rgb(52, 73, 94);
		
		h1, h2, h3, h4 {
			color: rgb(52, 73, 94);
		}
		
		input[type="submit"].btn {
			width: 100%;
		}
		
		#account_subdomain {
			width: 200px;
			text-align: center;
		}
		
		.folio-domain {
			font-size: 28px;
			margin-left: 5px;
			color: #555;
		}
		
		.control-group, .alert {
			text-align: left;
		}
		
		.field_with_errors {
			margin-bottom: 20px;
		}
		
		.field_with_errors input.login-field {
			border: 2px solid #eed3d7;
			background: #f2dede;
		}

		.error {
			color: #b94a48;
			text-align: left;
		}
		
	}
	
}