.document {
	background: white;
	margin-left: 0px;
	border-right: 1px solid #C9C4C4;
	border-left: 1px solid #C9C4C4;
	border-bottom: 1px solid #C9C4C4;
	border-radius: 2px;
	min-height: 100px;
	padding-bottom: 40px;
	margin-bottom: 40px;
	
	#side-menu {
		padding: 20px;
		padding-top: 20px;
		border-radius: 2px;
		border-left: 1px solid #cccccc;
		min-height: 300px;
		
		.section-title {
			margin-top: -2px;
			border-bottom: #dddddd solid 1px;
			padding-bottom: 8px;
		}
		
	}

	.document-menu {
		padding: 20px;
		padding-left: 85px;
		background: #6F7183;
		padding-bottom: 15px;
		padding-top: 25px;
		
		.document-actions {
			margin-top: 10px;
			margin-right: 10px;
		}
		
	}
	
	h2, h3 {
		margin: 0px;
	}
	
	section {
		margin-bottom: 40px;
		padding: 20px;
		
		.section-header {
			margin: 0px;
			margin-bottom: 15px;
			border-bottom: 1px solid #eeeeee;
			
			.section-menu {
				@extend .pull-right;
				margin-top: 15px;
			}
			
		}
	}
	
}