// Place all the styles related to the invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$cancelled: #5C0000;

ul.ui-autocomplete {
	border: 1px solid rgb(167, 202, 252);
	padding: 5px;
	background-color: white;
	width: 532px;
	
	li.ui-menu-item {
		list-style-type: none;
		a {color: rgb(51, 51, 51);}
	}
	
	.ui-state-focus
	{
	    background:rgb(167, 202, 252);
	}
	
}

.due {
	color: $red;
}

.draft {
	color: $grayLight;
}

.closed {
	color: $green;
}


.invoice-label {
	@extend .invoice-status;
	@extend .pull-right;
	margin-top: 15px;
}

.invoice-status  {
	@extend .label;
}

.invoice-active {
	@extend .label;
	@extend .label-info;
	background: $blue;
}

.invoice-due {
	@extend .label;
	@extend .label-important;
}

.invoice-draft {
	@extend .label;
}

.invoice-closed {
	@extend .label;
	@extend .label-success;
}

.invoice-cancelled {
	@extend .label;
	@extend .label-important;
	background: $cancelled;
}

#invoices {
	
	padding-right: 20px;
	margin-top: 10px;
	margin-right: 20px;
	
	.invoices-table {
		h4 {
			margin-top: 0px;
			margin-bottom: 5px;
			font-weight: normal;
		}
		
		td {
			padding-bottom:20px;
		}
		
	}
	
	.invoice-number {
		
	}
	
	
	
	.invoice-details-cell {
		h4 { margin-bottom: 10px;}
		.invoice-customer {
			margin-top: 0px;
		}
		
		p {
			margin-bottom: 0px;

		}
		
		.invoice-date1 {
			margin-right: 20px;
		}
	}
	
	.invoice-total-cell {
		text-align: right;
		width: 25%;
	}
	
}

#invoices-totals-resume-table {
	width: 99%;
	
	tr {
		border-bottom: solid white 10px;
		color: white;
		
		td {
			padding-left: 10px;
			padding-top: 5px;
		}
		
		td.total-amount {
			text-align: right;
			vertical-align: middle;
			padding-right: 10px;
		}
		
	}
	
	.invoices-active {
		background: $blue;
	}
	
	.invoices-due {
		background: $red;
	}
	
	.invoices-draft {
		background: $grayLight;
	}
	
	.invoices-closed {
		background: $green;
	}
		
}

#invoice {
	border: 1px solid #C9C4C4;
	margin-top: 20px;
	border-radius: 1px;
	margin-bottom: 10px;
	padding-bottom: 20px;
	
	select {
		width: 110px;
		height: 25px;
		margin-bottom: 5px;
		font-size:12px
	}
	
	
	textarea {
		resize: vertical;
	}
	
	.invoice-details {
		padding: 10px;
		padding-left: 15px;
		
		input[type="text"] {
			border: none;
			box-shadow: none;
			border-bottom: gray dotted 1px;
			border-radius: 0px;
			width: 90%;
			padding-bottom: 0px;
			margin-bottom: 15px;
		}
		
		.field_with_errors > input, .field_with_errors > select {
			border: 1px solid #b94a48;
		}
		
		table {
			width: 100%;
			
			td {
				vertical-align:top;
			}
			
			.input-label {
				width: 80px;
			}
			
		}		
		
		label {
			display: inline;
			font-weight: bold;
		}
		
		.small {
			input[type="text"], .value {
				width: 80px;
				text-align: center;
			}
		}
		
		.invoice-customer {
			font-size: 18px;
			small {
				font-size: 16px;
				line-height: 25px;
			}
		}
		
	}
	
	header {
		padding: 10px; padding-left: 20px;
		padding-right: 20px;
		background: #f6f5ed;
		border-bottom: 1px solid #C9C4C4;
		height: 45px;
				
		.invoice-currency {
			background-color: #333333;
		}
		
		.invoice-header-labels {
			@extend .unstyled;
			@extend .inline;
			@extend .pull-right;
			margin-top: -10px;
			
			.invoice-header-label {
				font-size: 14px;
				line-height: 18px;
				padding: 5px;
				padding-left: 15px;
				padding-right: 15px;
			}
			
		}
		
	}
	
	#invoice-items-header {
		padding-left: 15px; padding-right:25px; margin-top:25px
	}
	
	#invoice-items {
		
		input[disabled], textarea[disabled] {
//			border: none;
			background: white;
			box-shadow: none;
			resize: none;
		}
		
		.invoice-item-delete {
			margin-left :5px;
			a {
				color: $red;
			}
		}
		
		table {
			
			tr {
				height: 10px;
			}
			
			thead {
				background: #f6f5ed;
				border-top: 1px solid #C9C4C4;
				border-bottom: #C9C4C4 1px solid;
				
				tr th {
					text-align: center;
				}
				
				th:first-child {
					text-align: left;
					padding-left: 15px;
				};
				
				
			}
			
			tbody {
				td {
					padding-top: 10px;
					padding-bottom: 20px;
					border-top: none;
					border-bottom: 1px solid #dddddd;
				}
			}
		}
	}
	
	#invoice-total {
		margin-bottom: 50px;
	
		.invoice-total-number {
			@extend .pull-right;
			text-align: right;
			padding: 20px;
			padding-bottom: 10px;
			background: #f6f5ed;
			margin-bottom: 20px;
			font-size: 24px;
			border-top: 1px solid #C9C4C4;
			border-left: 1px solid #C9C4C4;
			border-bottom: 1px solid #C9C4C4;
			padding-left: 40px;
			
		}
		
		.invoice-total-detail {
			font-size: 16px;
			font-weight: 300;
			margin-top: 15px;
		
			.currency-rate {
				@extend .unstyled;
				@extend .inline;
			}
		
			.currency-rate-border {
				border-bottom: 1px #bbb dashed;
				padding-bottom: 10px;
				margin-bottom: 10px;
			}
		
			.left {
				float: left;
				text-align: left;
				padding-left: 5px;
			}
		
			.right {
				text-align: right;
				padding-right: 8px;
			}
		
		}
		
	}
	
}

#invoice-sidebar {
	border: 1px solid #C9C4C4;
	margin-top: 20px;
	border-radius: 1px;
	min-height: 300px;
	background: #f6f5ed;
	
	#invoice-total {
		height: 45px;
		text-align: center;
		padding-top: 5px;
		color: whitesmoke;
		padding-bottom: 16px;
		
		.invoice-advances {
			margin-top: -5px;
			font-size: 13px;
			font-weight: 300;
		}
		
		.original-currency-total {
			color: whitesmoke;
			margin-top: -5px;
			font-size: 14px;
			font-weight: normal;
		}
		
	}
	
	.invoice-status-active {
		background: $blue;
	}
	
	.invoice-status-due {
		background: $red;
	}
	
	.invoice-status-draft {
		background: $grayLight;
	}
	
	.invoice-status-closed {
		background: $green;
	}
	
	.invoice-status-cancelled {
		background: $cancelled;
	}
	
	
	#invoice-payments {
		font-weight: normal;
		padding-top: 10px;
		padding-bottom: 5px;
		padding-right: 0px;
		h5 {
			font-size: 14px;
			margin: 0px;	
		}
		
		ul {
			margin-bottom: 5px;
		}
		
		ul.inline > li {
			padding: 0px;
			width: 45%;
		}
		
		
	}
	
	.invoice-actions {
		padding-top: 20px;
		padding-left:20px;
		padding-right: 10px;
		padding-bottom: 15px;
		border-bottom: 1px solid #C9C4C4;
		font-weight: bold;
		
		li {
			margin-bottom: 10px;
		}
		
		.fa {
			width: 20px;
			margin-right: 5px;
			text-align: center;
		}
		
		
		.invoice-option-explain {
			margin-left: 5px;
		}
		
		small {
			font-weight: normal;
		}
		
	}
	
	.invoice-totals {
		text-align: right;
		padding: 10px;
		border-bottom: 1px solid #C9C4C4;
		padding-bottom: 20px;
		
		h5 {
			font-weight: normal;
			margin-bottom: 0px;
			margin-top: 0px;
			padding-right: 3px;
		}
		
	}
	
	.invoice-reminders {
		padding-top: 20px;
		padding-left:10px;
		padding-right: 10px;
		padding-bottom: 15px;
		border-bottom: 1px solid #C9C4C4;
	}
	
	.checkbox {
		margin-bottom: 0px;
	}
	
	.invoice-option-explain {
		 margin-left: 20px;
	}

	.invoice-attachments {
		padding-top: 0px;
		padding-left:10px;
		padding-right: 10px;
		padding-bottom: 15px;
		border-bottom: 1px solid #C9C4C4;
		
		#invoice-attachment-drop-zone {
			padding: 10px;
			border: 2px dashed #bbb;
			text-align: center;
			color: #888;
		}
		
	}
	
	.invoice-contact {
		padding-top: 0px;
		padding-left:10px;
		padding-right: 10px;
		padding-bottom: 5px; 
		border-bottom: 1px solid #C9C4C4;
		
		select {
			width: 185px;
			resize: vertical;
		}
	}
	
	.invoice-categories {
		padding-top: 10px;
		padding-left:10px;
		padding-right: 10px;
		padding-bottom: 5px; 
		
		textarea {
			width: 185px;
			resize: vertical;
		}
	}
	
	.invoice-submit {
		margin-top: 20px;
		padding:10px;
		text-align: center;
		margin-bottom: 10px
	}
	
}

.invoice-item-fields {
	input[type="text"] {
		text-align: right;
	}
}

.invoices-sorter-menu {
	@extend h4;
	font-weight:normal;
	padding: 10px;
	padding-left: 4px;
	
	.dropdown-sorter {
		@extend .dropdown;
		display: inline;
		padding: 5px;
		border: 1px dashed #bbb;
		margin-left: 5px;
		margin-right: 5px;
		
		a {
			border-bottom: dashed 1px solid;
		}
		
	}
	
}

#invoices-side-search {
	input[type=text] {
		width: 180px;
		font-weight: 300;
		font-size: 13px;
	}
	
	input[type=text].middle {
		width: 70px;
	}	
}

ul.ui-autocomplete.invoices-index-autocomplete {
	width: 234px;
}

.invoices-index-autocomplete {
	font-size: 13px;
	font-weight: 300;
	
}

.invoices-remove-search-filter {
	margin-top: -10px;
	margin-left: 5px;
	display: none;
}

#new_company_from_invoice {
	padding: 5px;
	a {
		@extend .btn;
		margin-left: 10px;
	}
}