.person {
	
	margin-bottom: 40px;
	margin-right: 40px;
	
	.contact-info{
		float: right;
		
		p {
			margin-top: 0px;
			margin-left: -145px;
		}
		
		.owner {
			font-size: 12px;
			font-weight: bold;
			font-family: arial;
		}
		
	}
	
}

.avatar{
	width: 50px;
	height: 50px;
	border: 2px solid #bbb;
	padding: 5px;
	radius: 5em;
	background: #f0f0f0;
	float: left;
	margin-right: 10px;
}

.user-header {
	.user-email {
		margin-top: -5px;
		margin-bottom: 15px;		
	}
}