.person {
	
	margin-bottom: 40px;
	margin-right: 40px;
	min-height: 80px;
	
	.contact-info{
		float: right;
		
		p {
			margin-top: 0px;
			margin-left: -145px;
		}
		
		.owner {
			font-size: 12px;
			font-weight: bold;
			font-family: arial;
		}
		
	}
	
}

.avatar{
	width: 50px;
	height: 50px;
	border: 2px solid #bbb;
	padding: 1px;
	radius: 5em;
	background: #f0f0f0;
	float: left;
	margin-right: 10px;
}

.user-header {
	.user-email {
		margin-top: -5px;
		margin-bottom: 15px;		
	}
}

form.new_user, form.edit_user {
	table.upload-picture {
		margin-bottom: 20px;
		
		 input {
			font-size: 12px;
			line-height: 0px;
		}
	}
	
	a.file-input-wrapper {
		width: 190px;
	}
	
}