<div class="alert alert-block blank-slate">
	<div class="blank-slate-example">
			<%= image_tag "blank_slates/folio_sales_example.png", :title => "Ejemplo de Ventas de Folio", :class => "img-polaroid" %>
	</div>
	
	<div class="blank-slate-text">
		<h3>Las ventas son el alimento de tu negocio</h3>
		<p>
			En esta sección podrás ingresar todas las ventas que genere tu negocio y seguir su estado. Una vez que <%= link_to "crees una venta", new_invoice_path() %> podrás emitir la factura electrónica, si cuentas con el módulo, y posteriormente realizar la cobranza de éstas.
		</p>
		<h4>¿Qué esperas?</h4>
		<p>
			Crea ahora <%= link_to "tu primera venta", new_invoice_path() %> y comienza el camino a una contabilidad realmente simplificada.
		</p>
	</div>
</div>