<p>Hola <%= @resource.full_name %>!</p>

<p>Te enviamos este correo porque has solicitado ayuda para recuperar tu contraseña, lo cual puedes hacer siguiendo este enlace:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @token, :subdomain => @resource.account_subdomain) %></p>

<p>Si no fuiste tú quien pidió cambiar la contraseña, tan sólo ignora este correo.</p>
<p>Tu contraseña no cambiará a menos que sigas el enlace y la cambies.</p>
