<section>
	<header class="section-header">
		<% if current_user.owner? %>
			<%= link_to "Agregar usuario", new_user_path(current_account), :class => "btn btn-success btn-small pull-right" %>
		<% end %>
		<h3>Usuarios</h3>
	</header>
	
	<div class="row">
		
		<%= render :partial => current_account.users %>
		
	</div>
	
</section>